
.container{
  background-color: #02f7ba;
  height: 500px;
  line-height: 400px;
  text-align: center;
}
.header{
  background-color: #2777b5;
  height: 200px;
  line-height: 300px;
  text-align: right;
}
.footer{
  background-color: #2777b5;
  height: 200px;
  line-height: 200px;
  text-align: right;
  width: 100%;
}
.votingApp{
  font-size: 100px;
  font-weight: normal;
}
.developerName{
  font-size: 30px;
  font-stretch: expanded;
  text-align: right;
  margin-right: 20px;
}
.btn{
  width: 150px;
  height: 50px;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  margin-right: 30px;
  margin: 0 8px;
	color: white;
	background-color: #00BCD4;
	display: inline-block;
	border: 0;
	border-radius: 3px;
	padding: 10px 5px;
	font-weight: 500;
}

.create-poll-header{
  background-color: #2777b5;
  height: 150px;
  text-align: right;
  padding-top: 50px;
  padding-right: 50px;
}
.user-name{
  font-size: 30px;
  font-family: sans-serif;
  font-style: normal;
}
.create_poll_container{
  background-color: #02f7ba;
  height: 480px;
  float: left;
  width: 100%;
  padding-top: 20px;
}
.create_poll_footer{
  background-color: #2777b5;
  height: 200px;
  width: 100%;
  float: right;
  text-align: 100px;
}
.div-poll{
  padding-top: 50px;
  padding-left: 50px;
  min-height: 400px;
}
.poll-text{
  height: 50px;
  width: 50%;
  font-size: 30px;
}
.div-poll-option{
  height: 40px;
  width: 25%;
  font-size: 30px;
}
.display-poll-container{
  background-color: #02f7ba;
  height: 500px;
  width:100%;
}
.publish-poll-text{
  font-size: 40px;
  font-style: normal;
  font-family: sans-serif;
  font-stretch: expanded;
}
.nostyle {
    list-style-type: none;
}
.radio-btn{
  border: 0px;
  width: 2em;
  height: 2em;
}
.login-form{
    width: 80%;
    height: 30%;
    margin-top: 10px;
    margin-left: 10px;
}
.div-view-poll{
    float: left;
    height: 30%;
    width: 100%:
}
.div-publish-poll-body{
  width: 100%;
  height: 50%;
}
.canvas{
  position: fixed;
  height: 500px;
  width: 600px;
  top: 50%;
  left: 30%;
}
.div_display_poll{
  left: 50%;
  padding-top: 5px;
  border: 10px;
  border-radius: 5px;
  border-color: #ff0000;
  border-width: 10px;
  min-height:500px;
}
.ol_view_poll{
  position: absolute;
  float: center;
  width: 60%;
}
.li_view_poll{
  border: 1px solid black;;
  border-width: 1px;
  width: 1000px;
  height: 60px;
  text-align: left;
}

.label_poll_text{
  font-size: 20px;
  font-style: normal;
  font-family: sans-serif;
  font-stretch: normal;
  min-width: 400px;
  display: inline-block;
  padding-left: 10px;
  padding-top: 10px;
}
.btn-delete-poll{
  margin-top: 5px;
  float: right;
}
