
.container{
  background-color: #02f7ba;
  height: 500px;
  line-height: 400px;
  text-align: center;
}
.header{
  background-color: #2777b5;
  height: 200px;
  line-height: 300px;
  text-align: right;
}
.footer{
  background-color: #2777b5;
  height: 200px;
  line-height: 200px;
  text-align: right;
}
.votingApp{
  font-size: 100px;
  font-weight: normal;
}
.developerName{
  font-size: 50px;
  font-stretch: expanded;
  text-align: right;
  margin-right: 20px;
  line-height: 200px;
}
.btn{
  width: 150px;
  height: 50px;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  margin-right: 30px;
  margin: 0 8px;
	color: white;
	background-color: #00BCD4;
	display: inline-block;
	border: 0;
	border-radius: 3px;
	padding: 10px 5px;
	font-weight: 500;
}

.create-poll-header{
  background-color: #2777b5;
  height: 200px;
  text-align: right;
  padding-top: 50px;
  padding-right: 50px;
}
.user-name{
  font-size: 30px;
  font-family: sans-serif;
  font-style: normal;
}
.create_poll_container{
  background-color: #02f7ba;
  height: 500px;
  float: left;
  width:100%;
  padding-top: 20px;
  padding-left: 20px;
}
.div-poll{
  padding-top: 50px;
  padding-left: 50px;
}
.poll-text{
  height: 50px;
  width: 50%;
  font-size: 30px;
}
.div-poll-option{
  height: 40px;
  width: 25%;
  font-size: 30px;
}
.display-poll-container{
  background-color: #02f7ba;
  height: 500px;
  float: left;
  width:100%;
  padding-top: 20px;
  padding-left: 20px;
  top: 50%;
  left: 50%;
}
.publish-poll-text{
  font-size: 40px;
  font-style: normal;
  font-family: sans-serif;
  font-stretch: expanded;
}
.nostyle {
    list-style-type: none;
}
.radio-btn{
  border: 0px;
  width: 2em;
  height: 2em;
}
